@font-face {
  font-family: 'Colus';
  src: url("../fonts/Colus_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #C4C4C4;
}

*::selection {
  background: #C4C4C4;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
}

.wrap {
  padding: 0 100px 0 100px;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.header {
  background-color: #FFFFFF;
  padding: 60px 0 0 0;
  width: 100%;
}

.main {
  background-color: #FFFFFF;
}

.action {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 10s;
  transition: 10s;
}

.sun {
  -webkit-transition: 10s;
  transition: 10s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__music {
  height: 2.5rem;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  color: #C1433C;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Ubuntu Light', sans-serif;
}

.menu .menu__music:active {
  color: #fff;
  text-decoration: none;
}

.menu .menu__music .menu__note {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu .menu__music .menu__note::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #438A5E;
}

.menu .menu__music .menu__note_action {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.first-section {
  padding: 350px 0 100px 0;
}

.first-section .welcome__general {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.first-section .welcome__info {
  font-family: Ubuntu Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

.scene-one__birds {
  position: absolute;
  right: 20rem;
  bottom: 2rem;
}

.scene-one__sun {
  position: absolute;
  left: 29rem;
  bottom: -5rem;
}

.scene-one__bg-one {
  position: absolute;
  top: -10rem;
  left: -7rem;
}

.scene-one__bg-two {
  position: absolute;
  top: -25rem;
  left: 3rem;
}

.scene-one__bg-three {
  position: absolute;
  top: -10rem;
  left: 5rem;
}

.links__social {
  color: #C1433C;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-right: 40px;
}

.links__social:hover {
  color: #AFAFAF;
}

.links__social:last-child {
  margin-right: 0;
}

.section {
  padding: 100px 0 100px 0;
  height: 1160px;
}

.section .image {
  height: 900px;
}

.section .image .image__item {
  background-image: url("../img/image.png");
  width: 100%;
  height: 100%;
}

.block__date {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 28px;
}

.block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

.mini-section {
  border-bottom: 0.5px solid #C4C4C4;
  padding: 40px 0 40px 0;
}

.stack {
  padding: 10rem 0 20rem 0;
}

.stack .stack-block__title {
  font-family: Colus;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.stack .stack-block__info {
  font-family: Ubuntu Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 6rem 0;
}

.stack .stack-block .stack-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 0;
}

.stack .stack-block .stack-item__title {
  font-family: Colus;
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.block-age__item {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
}

.scene-two__bg {
  position: absolute;
  right: 4rem;
  top: 15rem;
}

.scene-two__ship {
  position: absolute;
  top: 80rem;
  left: 44.5rem;
}

.block-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-tags__item {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
  margin-right: 40px;
}

.block-tags__item:last-child {
  margin-right: 0;
}

.footer {
  height: 42.5rem;
  padding: 100px 0 50px 0;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .copyright__item {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down {
  margin: 18rem 0 0 0;
}

.footer .down .year {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down .write {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  text-transform: lowercase;
}
/*# sourceMappingURL=style.css.map */