@font-face {
  font-family: 'Colus';
  src: url("../fonts/Colus_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #C4C4C4;
}

*::selection {
  background: #C4C4C4;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 1rem;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

.pl {
  padding: 0 0 0 17.5rem;
}

.pr {
  padding: 0 17.5rem 0 0;
}

.wrap {
  background-color: white;
  width: calc(100% - 22rem);
  margin: 0 auto;
  height: 100vh;
}

.header {
  background-color: #FFFFFF;
  padding: 60px 0 0 0;
  width: 100%;
}

.main {
  background-color: #FFFFFF;
}

.action {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 10s;
  transition: 10s;
}

.sun {
  -webkit-transition: 10s;
  transition: 10s;
}

.hover {
  text-decoration: none;
  color: #333333;
  font-size: 2.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.hover::before {
  content: attr(data-item);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #C1433C;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.hover:hover::before {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__music {
  height: 2.5rem;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  color: #C1433C;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Ubuntu Light', sans-serif;
}

.menu .menu__music:active {
  color: #fff;
  text-decoration: none;
}

.menu .menu__music .menu__note {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu .menu__music .menu__note::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #438A5E;
}

.menu .menu__music .menu__note_action {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.first-section {
  padding: 35rem 0 10rem 0;
}

.first-section .welcome {
  position: relative;
  z-index: 10;
}

.first-section .welcome__back {
  position: relative;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  text-transform: lowercase;
  margin: 0 0 2rem 5rem;
}

.first-section .welcome__back::after {
  content: '';
  background-image: url("../img/arrow_l.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.1rem;
  height: 1.2rem;
  position: absolute;
  top: 1.3rem;
  left: -4.5rem;
}

.first-section .welcome__back:hover {
  color: #AFAFAF;
}

.first-section .welcome__back:hover::after {
  background-image: url("../img/arrow_l_hover.svg");
}

.first-section .welcome__general {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
  margin: 0 0 2rem 0;
}

.first-section .welcome__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 3rem 0;
}

.scene-one__birds {
  position: absolute;
  right: 20rem;
  bottom: 2rem;
}

.scene-one__sun {
  position: absolute;
  left: 29rem;
  bottom: -5rem;
}

.scene-one__bg-one {
  position: absolute;
  top: -10rem;
  left: -7rem;
}

.scene-one__bg-two {
  position: absolute;
  top: -25rem;
  left: 3rem;
}

.scene-one__bg-three {
  position: absolute;
  top: -10rem;
  left: 5rem;
}

.links__social {
  color: #C1433C;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-right: 40px;
}

.links__social:hover {
  color: #AFAFAF;
}

.links__social:last-child {
  margin-right: 0;
}

.section {
  padding: 10rem 0 10rem 0;
  height: 116rem;
}

.image {
  height: 84.5rem;
}

.image .image__item {
  background-image: url("../img/image.png");
  width: 100%;
  height: 100%;
}

.image .image__item_full {
  margin: 6rem 0;
  width: 100%;
  height: 96rem;
}

.block__date {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 28px;
  margin: 0 0 2rem 0;
}

.block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
}

.block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  margin: 0 0 2rem 0;
  line-height: 4rem;
}

.block__list {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  list-style-type: none;
}

.block__list:first-child {
  padding: 0;
}

.mini-section {
  border-bottom: 0.5px solid #C4C4C4;
  padding: 4rem 0 4rem 0;
}

.mini-section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .mini-section {
    border-bottom: 0.5px solid #C4C4C4;
    padding: 4rem 0 4rem 0;
  }
  .mini-section .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stack {
  padding: 10rem 0 20rem 0;
}

.stack .right-block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.stack .right-block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 6rem 0;
}

.stack .right-block .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 0;
}

.stack .right-block .right-item__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.block-age__item {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
}

.process {
  padding: 10rem 0 20rem 0;
}

.process .right-block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.process .right-block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 2rem 0;
}

.process .right-block .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 0;
}

.process .right-block .right-item__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.process__image_item {
  margin: 6rem 0;
  width: 100%;
  height: 96rem;
}

.process__subtitle {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  margin: 10rem 0 6rem 0;
}

.process__description {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

.scene-two__bg {
  position: absolute;
  right: 4rem;
  top: 15rem;
}

.scene-two__ship {
  position: absolute;
  top: 80rem;
  left: 44.5rem;
}

.block-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-tags__item {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
  margin-right: 40px;
}

.block-tags__item:last-child {
  margin-right: 0;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-section .form__title {
  font-family: Ubuntu Light;
  font-size: 2.8rem;
  margin: 0 0 3rem 0;
}

.form-section .form__title span {
  color: #C1433C;
}

.form-section .form .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-section .form .checkboxes .checkbox-item {
  width: 34.8rem;
  height: 8rem;
  margin: 0 5rem 5rem 0;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked),
.form-section .form .checkboxes .checkbox-item .checkbox:checked {
  position: absolute;
  left: -9999px;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label {
  position: relative;
  cursor: pointer;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:before,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:before {
  content: attr(data-name);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  width: 34.8rem;
  height: 8rem;
  border: 0.5px solid #ccc;
  background: #FFFFFF;
  border-radius: 10rem;
  font-family: 'Ubuntu';
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
  content: attr(data-name);
  position: absolute;
  width: 34.8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  color: #FFFFFF;
  background-color: #C1433C;
  border-radius: 10rem;
  font-family: 'Ubuntu';
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-section .form .checkboxes .checkbox-item label:hover:before {
  border: 0.5px solid #C1433C !important;
}

.form-section .form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  margin: 4rem 0 10rem 0;
  font-size: 2.4rem;
  outline: none;
}

.form-section .form__input:active, .form-section .form__input:focus {
  border-bottom: 2px solid #C1433C;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.form-section .form__input::-webkit-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input:-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input::-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input::placeholder {
  color: #AFAFAF;
}

.form-section .form__submit {
  font-family: 'Ubuntu';
  position: relative;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  border: none;
  background: none;
  padding: 0;
}

.form-section .form__submit::after {
  content: '';
  background-image: url("../img/arrow_r.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.4rem;
  height: 2.4rem;
  position: absolute;
  top: 0.8rem;
  left: 16.5rem;
}

.form-section .form__submit:hover {
  color: #AFAFAF;
}

.form-section .form__submit:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}

.future {
  padding: 0 0 20rem 0;
}

.future__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12.8rem;
  margin: 0 0 2rem 0;
}

.future__description {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

.footer {
  height: 42.5rem;
  padding: 10rem 0 5rem 0;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .copyright__item {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down {
  margin: 18rem 0 0 0;
}

.footer .down .year {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down .write {
  font-family: Ubuntu;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  text-transform: lowercase;
  margin: 0 8rem 0 0;
}

.footer .down .write::after {
  content: '';
  background-image: url("../img/arrow_r.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.4rem;
  height: 2.4rem;
  position: absolute;
  top: 18.9rem;
  right: 1.5rem;
}

.footer .down .write:hover {
  color: #AFAFAF;
}

.footer .down .write:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}
/*# sourceMappingURL=style.css.map */