@font-face {
  font-family: 'Colus';
  src: url("../fonts/Colus_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

.preloader {
  position: fixed;
  padding: 40rem 0 10rem 0;
  width: 100vw;
  height: 100vh;
  background: white;
  visibility: hidden;
  opacity: 0;
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
  margin: 0 0 2rem 0;
  z-index: 99999999999999;
  left: 10rem;
}

.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1370px) {
  .preloader {
    font-size: 10rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #C4C4C4;
}

*::selection {
  background: #C4C4C4;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1.5rem;
  background-color: #fff;
  border-radius: 0.1rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #AFAFAF;
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  border: 1px #AFAFAF;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

.row {
  margin: 0;
}

.wrap {
  background-color: white;
  width: calc(100% - 22rem);
  margin: 0 auto;
  height: 100vh;
}

.header {
  background-color: #FFFFFF;
  padding: 60px 0 0 0;
  width: 100%;
}

.main {
  background-color: #FFFFFF;
  padding-bottom: 5rem;
}

.action {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 10s;
  transition: 10s;
}

.scene-one, .scene-two {
  position: absolute;
  top: -18rem;
  left: -30rem;
  opacity: 0.1;
}

.indent {
  margin-bottom: 3rem;
}

.hover {
  position: relative;
  display: inline-block;
  color: #333333;
  font-weight: 800;
  text-decoration: none;
  overflow: hidden;
}

.hover .span__hover {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}

.hover .span__hover::before {
  display: inline-block;
  content: attr(data-content);
  color: #C1433C;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}

.hover:hover .span__hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hover:hover .span__hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hover .hover-cc {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}

.hover .hover-cc::before {
  display: inline-block;
  content: attr(data-content);
  color: #438A5E;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}

.hover:hover .hover-cc {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hover:hover .hover-cc::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 769px) {
  .wrap {
    width: calc(100% - 1.5rem);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__link {
  font-size: 2.4rem;
  font-family: 'Ubuntu Light', sans-serif;
  color: #C1433C;
}

.menu .menu__music {
  height: 2.5rem;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  color: #C1433C;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'Ubuntu Light', sans-serif;
}

.menu .menu__music:active {
  color: #fff;
  text-decoration: none;
}

.menu .menu__music .menu__note {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu .menu__music .menu__note::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #438A5E;
}

.menu .menu__music .menu__note_action {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.first-section {
  padding: 35rem 0 10rem 0;
}

.first-section .welcome {
  position: relative;
  z-index: 10;
}

.first-section .welcome__back {
  position: relative;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3.5rem;
  color: #C1433C;
  text-transform: lowercase;
  margin: 0 0 2rem 5.6rem;
}

.first-section .welcome__back::after {
  content: '';
  background-image: url("../img/arrow_l.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.1rem;
  height: 1.2rem;
  position: absolute;
  top: 1rem;
  left: -5.2rem;
}

.first-section .welcome__back:hover {
  color: #AFAFAF;
}

.first-section .welcome__back:hover::after {
  background-image: url("../img/arrow_l_hover.svg");
}

.first-section .welcome__back-cc {
  position: relative;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #438A5E;
  text-transform: lowercase;
  margin: 0 0 2rem 5rem;
}

.first-section .welcome__back-cc::after {
  content: '';
  background-image: url("../img/arrow_l_g.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.1rem;
  height: 1.2rem;
  position: absolute;
  top: 1.3rem;
  left: -4.5rem;
}

.first-section .welcome__back-cc:hover {
  color: #AFAFAF;
}

.first-section .welcome__back-cc:hover::after {
  background-image: url("../img/arrow_l_hover.svg");
}

.first-section .welcome__general {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
  margin: 0 0 2rem 0;
}

.first-section .welcome__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 3rem 0;
}

@media (max-width: 1370px) {
  .first-section {
    padding: 15rem 0 10rem 0;
  }
  .first-section .welcome {
    position: relative;
    z-index: 10;
  }
  .first-section .welcome__general {
    font-size: 10rem;
  }
}

@media (max-width: 769px) {
  .first-section {
    padding: 12.5rem 0 10rem 0;
  }
  .first-section .welcome {
    position: relative;
    z-index: 10;
  }
  .first-section .welcome__general {
    font-size: 4.5rem;
  }
  .first-section .welcome__info {
    font-size: 2.5rem;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.links__social {
  color: #C1433C;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-right: 40px;
  z-index: 10;
}

.links__social:hover {
  color: #AFAFAF;
}

.links__social:last-child {
  margin-right: 0;
}

.links__text {
  color: #C1433C;
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin-right: 40px;
  z-index: 10;
}

.links__text:hover {
  color: #AFAFAF;
}

.links__text:last-child {
  margin-right: 0;
}

@media (max-width: 769px) {
  .links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .links:nth-child(1) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .links__social {
    color: #C1433C;
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 0 4rem 2rem 0;
  }
  .links__social:hover {
    color: #AFAFAF;
  }
  .links__social:last-child {
    margin-right: 0;
  }
}

.indents_bottom {
  padding: 0 0 5.70rem;
}

.section {
  padding: 5rem 0 10rem 0;
}

.image {
  height: 60rem;
  padding-left: 0px;
}

.image .image__item {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
}

.image .image__item_full {
  margin: 6rem 0;
  width: 100%;
  height: 96rem;
}

@media (max-width: 1366px) {
  .image {
    height: 56rem;
  }
}

.block__date {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 28px;
  margin: 0 0 2rem 0;
}

.block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
}

.block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  margin: 0 0 2rem 0;
  line-height: 4rem;
}

.block__list {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  list-style-type: none;
}

.block__list:first-child {
  padding: 0;
}

@media (max-width: 769px) {
  .block__date {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 28px;
    margin: 0 0 2rem 0;
  }
  .block__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
  }
  .block__info {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    margin: 0 0 2rem 0;
    line-height: 4rem;
  }
  .block__list {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 4rem;
    list-style-type: none;
  }
  .block__list:first-child {
    padding: 0;
  }
}

.mini-section {
  border-bottom: 0.5px solid #C4C4C4;
  padding: 4rem 0 4rem 0;
}

.mini-section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mini-section-bottom {
  padding: 4rem 0 4rem 0;
}

.mini-section-bottom .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .mini-section {
    border-bottom: 0.5px solid #C4C4C4;
    padding: 4rem 0 4rem 0;
  }
  .mini-section .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stack {
  padding: 16rem 0 20rem 0;
}

.stack .right-block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.stack .right-block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 6rem 0;
}

.stack .right-block .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 0;
}

.stack .right-block .right-item__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.block-age__item {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
}

.process {
  padding: 10rem 0 20rem 0;
}

.process .right-block__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 110%;
}

.process .right-block__info {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 0 0 2rem 0;
}

.process .right-block .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3rem 0;
  padding: 0;
}

.process .right-block .right-item__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  line-height: 8rem;
}

.process__image_item {
  margin: 6rem 0;
  width: auto;
  height: 96rem;
}

.process__subtitle {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  margin: 10rem 0 6rem 0;
}

.process__description {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

@media (max-width: 769px) {
  .stack {
    padding: 10rem 0 20rem 0;
  }
  .stack .right-block__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 110%;
  }
  .stack .right-block__info {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4rem;
    margin: 0 0 6rem 0;
  }
  .stack .right-block .right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 3rem 0;
    padding: 0;
  }
  .stack .right-block .right-item__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 8rem;
  }
  .block-age__item {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #AFAFAF;
  }
  .process {
    padding: 10rem 0 20rem 0;
  }
  .process .right-block__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 110%;
  }
  .process .right-block__info {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 4rem;
    margin: 0 0 2rem 0;
  }
  .process .right-block .right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 3rem 0;
    padding: 0;
  }
  .process .right-block .right-item__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 6.4rem;
    line-height: 8rem;
  }
  .process__image_item {
    margin: 6rem 0;
    width: 100%;
    height: 96rem;
  }
  .process__subtitle {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 10rem 0 6rem 0;
  }
  .process__description {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

.block-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-tags__item {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #AFAFAF;
  margin-right: 40px;
}

.block-tags__item:last-child {
  margin-right: 0;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-section .form__title {
  font-family: Ubuntu Light;
  font-size: 2.8rem;
  margin: 0 0 3rem 0;
}

.form-section .form__title .number__hover {
  color: #C1433C;
}

.form-section .form__title .number__hover-cc {
  color: #438A5E;
}

.form-section .form .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-section .form .checkboxes .checkbox-item {
  width: 34.8rem;
  height: 8rem;
  margin: 0 5rem 5rem 0;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked),
.form-section .form .checkboxes .checkbox-item .checkbox:checked {
  position: absolute;
  left: -9999px;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label {
  position: relative;
  cursor: pointer;
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:before,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:before {
  content: attr(data-name);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  width: 34.8rem;
  height: 8rem;
  border: 0.5px solid #ccc;
  background: #FFFFFF;
  border-radius: 10rem;
  font-family: 'Ubuntu Light';
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after,
.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
  content: attr(data-name);
  position: absolute;
  width: 34.8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  color: #FFFFFF;
  background-color: #C1433C;
  border-radius: 10rem;
  font-family: 'Ubuntu Light';
}

.form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-section .form .checkboxes .checkbox-item label:hover:before {
  border: 0.5px solid #C1433C !important;
}

.form-section .form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  margin: 4rem 0 10rem 0;
  font-size: 2.4rem;
  outline: none;
  line-height: 8rem;
}

.form-section .form__input:active, .form-section .form__input:focus {
  border-bottom: 2px solid #C1433C;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.form-section .form__input::-webkit-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input:-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input::-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form__input::placeholder {
  color: #AFAFAF;
}

.form-section .form__submit {
  font-family: 'Ubuntu Light';
  position: relative;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  border: none;
  background: none;
  padding: 0;
}

.form-section .form__submit::after {
  content: '';
  background-image: url("../img/arrow_r.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.2rem;
  height: 1.7rem;
  position: absolute;
  top: 1rem;
  left: 15.8rem;
}

.form-section .form__submit:hover {
  color: #AFAFAF;
}

.form-section .form__submit:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}

.form-section .form .input-cc {
  width: 100%;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  margin: 4rem 0 10rem 0;
  font-size: 2.4rem;
  outline: none;
  line-height: 8rem;
}

.form-section .form .input-cc:active, .form-section .form .input-cc:focus {
  border-bottom: 2px solid #438A5E;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.form-section .form .input-cc::-webkit-input-placeholder {
  color: #AFAFAF;
}

.form-section .form .input-cc:-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form .input-cc::-ms-input-placeholder {
  color: #AFAFAF;
}

.form-section .form .input-cc::placeholder {
  color: #AFAFAF;
}

.form-section .form .submit-cc {
  font-family: 'Ubuntu Light';
  position: relative;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #438A5E;
  border: none;
  background: none;
  padding: 0;
}

.form-section .form .submit-cc::after {
  content: '';
  background-image: url("../img/arrow_r_g.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.2rem;
  height: 1.7rem;
  position: absolute;
  top: 1rem;
  left: 15.8rem;
}

.form-section .form .submit-cc:hover {
  color: #AFAFAF;
}

.form-section .form .submit-cc:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}

@media (max-width: 769px) {
  .form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form-section .form__title {
    font-family: Ubuntu Light;
    font-size: 2.5rem;
    margin: 0 0 3rem 0;
  }
  .form-section .form__title span {
    color: #C1433C;
  }
  .form-section .form .checkboxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-section .form .checkboxes .checkbox-item {
    width: 30rem;
    height: 8rem;
    margin: 0 auto 4rem;
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:not(:checked),
  .form-section .form .checkboxes .checkbox-item .checkbox:checked {
    position: absolute;
    left: -9999px;
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label,
  .form-section .form .checkboxes .checkbox-item .checkbox:checked + label {
    position: relative;
    cursor: pointer;
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:before,
  .form-section .form .checkboxes .checkbox-item .checkbox:checked + label:before {
    content: attr(data-name);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    width: 30rem;
    height: 8rem;
    border: 0.5px solid #ccc;
    background: #FFFFFF;
    border-radius: 10rem;
    font-family: 'Ubuntu Light';
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after,
  .form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
    content: attr(data-name);
    position: absolute;
    width: 30rem;
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #C1433C;
    border-radius: 10rem;
    font-family: 'Ubuntu Light';
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .form-section .form .checkboxes .checkbox-item .checkbox:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .form-section .form .checkboxes .checkbox-item label:hover:before {
    border: 0.5px solid #C1433C !important;
  }
  .form-section__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    margin: 4rem 0 10rem 0;
    font-size: 2.4rem;
    outline: none;
  }
  .form-section__input:active, .form-section__input:focus {
    border-bottom: 2px solid #C1433C;
    -webkit-transition: .2s;
    transition: .2s;
    outline: none;
  }
  .form-section__input::-webkit-input-placeholder {
    color: #AFAFAF;
  }
  .form-section__input:-ms-input-placeholder {
    color: #AFAFAF;
  }
  .form-section__input::-ms-input-placeholder {
    color: #AFAFAF;
  }
  .form-section__input::placeholder {
    color: #AFAFAF;
  }
  .form-section__submit {
    font-family: 'Ubuntu Light';
    position: relative;
    font-style: normal;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #C1433C;
    border: none;
    background: none;
    padding: 0;
  }
  .form-section__submit::after {
    content: '';
    background-image: url("../img/arrow_r.svg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.8rem;
    left: 16.5rem;
  }
  .form-section__submit:hover {
    color: #AFAFAF;
  }
  .form-section__submit:hover::after {
    background-image: url("../img/arrow_r_hover.svg");
  }
}

.future {
  padding: 0 0 20rem 0;
}

.future__title {
  font-family: 'Colus';
  font-style: normal;
  font-weight: normal;
  font-size: 12.8rem;
  margin: 0 0 2rem 0;
}

.future__description {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 4rem;
}

@media (max-width: 769px) {
  .future {
    padding: 0 0 20rem 0;
  }
  .future__title {
    font-family: 'Colus';
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
  .future__description {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.footer {
  height: 42.5rem;
  padding: 10rem 0 5rem 0;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .copyright__item {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18rem 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .down .year {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.footer .down .write {
  font-family: Ubuntu Light;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #C1433C;
  text-transform: lowercase;
  margin: 0 7.5rem 0 0;
}

.footer .down .write::after {
  content: '';
  background-image: url("../img/arrow_r.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.2rem;
  height: 1.7rem;
  position: absolute;
  top: 19.4rem;
  right: 1.5rem;
}

.footer .down .write:hover {
  color: #AFAFAF;
}

.footer .down .write:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}

.footer .down .write-cc {
  font-family: Ubuntu Light;
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #438A5E;
  text-transform: lowercase;
  margin: 0 7.5rem 0 0;
}

.footer .down .write-cc::after {
  content: '';
  background-image: url("../img/arrow_r_g.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.2rem;
  height: 1.7rem;
  position: absolute;
  top: 19.4rem;
  right: 1.5rem;
}

.footer .down .write-cc:hover {
  color: #AFAFAF;
}

.footer .down .write-cc:hover::after {
  background-image: url("../img/arrow_r_hover.svg");
}

@media (max-width: 769px) {
  .footer {
    height: 42.5rem;
    padding: 10rem 0 5rem 0;
  }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 8rem 0;
  }
  .footer .copyright__item {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .footer .down {
    margin: 18rem 0 0 0;
  }
  .footer .down .year {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .footer .down .write {
    font-family: Ubuntu Light;
    font-style: normal;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #C1433C;
    text-transform: lowercase;
    margin: 0 8rem 0 0;
  }
  .footer .down .write::after {
    content: '';
    background-image: url("../img/arrow_r.svg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4.4rem;
    height: 2.4rem;
    position: absolute;
    top: 18.9rem;
    right: 1.5rem;
  }
  .footer .down .write:hover {
    color: #AFAFAF;
  }
  .footer .down .write:hover::after {
    background-image: url("../img/arrow_r_hover.svg");
  }
}
/*# sourceMappingURL=style.css.map */