.block

    &__date
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.4rem
        line-height: 28px
        margin: 0 0 2rem 0

    &__title
        font-family: 'Colus'
        font-style: normal
        font-weight: normal
        font-size: 4.4rem      

    &__info
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.8rem
        margin: 0 0 2rem 0
        line-height: 4rem

    &__list
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.8rem
        line-height: 4rem
        list-style-type: none

        &:first-child
            padding: 0

// Medium devices (tablets, 768px and down)
@media (max-width: 769px)
    .block

        &__date
            font-family: 'Ubuntu Light'
            font-style: normal
            font-weight: 300
            font-size: 2.4rem
            line-height: 28px
            margin: 0 0 2rem 0

        &__title
            font-family: 'Colus'
            font-style: normal
            font-weight: normal
            font-size: 3rem

        &__info
            font-family: 'Ubuntu Light'
            font-style: normal
            font-weight: 300
            font-size: 2.8rem
            margin: 0 0 2rem 0
            line-height: 4rem

        &__list
            font-family: 'Ubuntu Light'
            font-style: normal
            font-weight: 300
            font-size: 2.8rem
            line-height: 4rem
            list-style-type: none

            &:first-child
                padding: 0