.block-tags
    display: flex
    flex-wrap: wrap

    &__item
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.4rem
        line-height: 2.8rem       
        color: $grayColor
        margin-right: 40px

        &:last-child
            margin-right: 0 