.block

    &__date
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.4rem
        line-height: 28px
        margin: 0 0 2rem 0

    &__title
        font-family: 'Colus'
        font-style: normal
        font-weight: normal
        font-size: 6.4rem      

    &__info
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.8rem
        margin: 0 0 2rem 0
        line-height: 4rem

    &__list
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.8rem
        line-height: 4rem
        list-style-type: none

        &:first-child
            padding: 0