.links

    &__social
        color: $mainColor1
        font-family: 'Ubuntu Light'
        font-style: normal
        font-weight: 300
        font-size: 2.4rem
        line-height: 2.8rem
        margin-right: 40px

        &:hover
            color: $grayColor

        &:last-child
            margin-right: 0 