.preloader 
	position: fixed
	padding: 40rem 0 10rem 0
	width: 100vw
	height: 100vh
	background: white
	visibility: hidden
	opacity: 0
	font-family: 'Colus'
	font-style: normal
	font-weight: normal
	font-size: 12rem
	line-height: 110%
	margin: 0 0 2rem 0
	z-index: 99999999999999
	left: 10rem

.show 
	visibility: visible 
	opacity: 1 
	
@media (max-width: 1370px)
	.preloader 
		font-size: 10rem