.stack
    padding: 16rem 0 20rem 0

    .right-block

        &__title
            font-family: 'Colus'
            font-style: normal
            font-weight: normal
            font-size: $h1
            line-height: 110%

        &__info
            font-family: 'MullerUltraLight'
            font-style: normal
            font-weight: 300
            font-size: $p
            line-height: 130%
            margin: 0 0 6rem 0

        .right-item
            display: flex
            align-items: center
            justify-content: space-between
            margin: 0 0 3rem 0
            padding: 0

            &__title
                font-family: 'Colus'
                font-style: normal
                font-weight: normal
                font-size: $h2
                line-height: 120%

.block-age

    &__item
        font-family: 'MullerUltraLight'
        font-style: normal
        font-weight: 300
        font-size: $p-small
        line-height: 2.8rem
        color: $grayColor

.process
    padding: 10rem 0 20rem 0

    .right-block

        &__title
            font-family: 'Colus'
            font-style: normal
            font-weight: normal
            font-size: $h1
            line-height: 110%

        &__info
            font-family: 'MullerUltraLight'
            font-style: normal
            font-weight: 300
            font-size: $p
            line-height: 4rem
            margin: 0 0 2rem 0

        .right-item
            display: flex
            align-items: center
            justify-content: space-between
            margin: 0 0 3rem 0
            padding: 0

            &__title
                font-family: 'Colus'
                font-style: normal
                font-weight: normal
                font-size: $h2
                line-height: 8rem

    &__image

        &_item
            margin: 6rem 0
            width: auto
            height: 96rem

    &__subtitle
        font-family: 'Colus'
        font-style: normal
        font-weight: normal
        font-size: $h2
        margin: 14vw 0 6rem 0

    &__description
        font-family: 'MullerUltraLight'
        font-style: normal
        font-weight: 300
        font-size: $p
        line-height: 130%

@media (max-width: 1370px)
    .stack
        .right-block
            &__title
                font-size: 10rem

            &__info
                font-size: 2.8rem

            .right-item
                &__title
                    font-size: 6.2rem

    .block-age
        &__item
            font-size: 2.4rem

    .process
        .right-block

            &__title
                font-size: 10rem

            &__info
                font-size: 2.8rem
                .right-item
                    &__title
                        font-size: 6.2rem

        &__description
            font-size: 2.8rem

        &__subtitle
            font-size: 6.2rem

@media (max-width: 769px)
    .stack
        padding: 10rem 0 0rem 0

        .right-block

            &__title
                font-family: 'Colus'
                font-style: normal
                font-weight: normal
                font-size: 3.5rem
                line-height: 110%

            &__info
                font-family: 'MullerUltraLight'
                font-style: normal
                font-weight: 300
                font-size: 2.5rem
                line-height: 4rem
                margin: 0 0 0rem 0

            .right-item
                display: flex
                align-items: center
                justify-content: space-between
                margin: 0 0 1rem 0
                padding: 0

                &__title
                    font-family: 'Colus'
                    font-style: normal
                    font-weight: normal
                    font-size: 3rem
                    line-height: 8rem

    .block-age

        &__item
            font-family: 'MullerUltraLight'
            font-style: normal
            font-weight: 300
            font-size: 2rem
            line-height: 2.8rem
            color: $grayColor

    .process
        padding: 10rem 0 20rem 0

        .right-block

            &__title
                font-family: 'Colus'
                font-style: normal
                font-weight: normal
                font-size: 3rem
                line-height: 110%

            &__info
                font-family: 'MullerUltraLight'
                font-style: normal
                font-weight: 300
                font-size: 2.8rem
                line-height: 4rem
                margin: 0 0 2rem 0

            .right-item
                display: flex
                align-items: center
                justify-content: space-between
                margin: 0 0 3rem 0
                padding: 0

                &__title
                    font-family: 'Colus'
                    font-style: normal
                    font-weight: normal
                    font-size: 6.4rem
                    line-height: 8rem

        &__image

            &_item
                margin: 6rem 0
                width: 100%
                height: 96rem

        &__subtitle
            font-family: 'Colus'
            font-style: normal
            font-weight: normal
            font-size: 2.5rem
            margin: 10rem 0 6rem 0

        &__description
            font-family: 'MullerUltraLight'
            font-style: normal
            font-weight: 300
            font-size: 2.5rem
            line-height: 4rem

@media (max-width: 425px)
    .stack
        .right-block
            &__title
                font-size: 5.4rem
            &__info
                font-size: 2.4rem

    .process
        .right-block
            &__title
                font-size: 4.2rem

            &__info
                font-size: 2.4rem

                &__title
                    font-size: 3.6rem

        &__image

            &_item
                margin: 6rem 0
                width: 100%
                height: 96rem

        &__subtitle
            font-family: 'Colus'
            font-style: normal
            font-weight: normal
            font-size: 4rem
            margin: 10rem 0 6rem 0
