.section
    padding: 5rem 0 10rem 0     

.image
    height: 60rem
    padding-left: 0px

    .image__item
        width: 100%
        height: 100%
        background-size: contain
        background-repeat: no-repeat
        box-shadow: 0 0 10px rgba(51,51,51,0.1)

        &_full
            margin: 6rem 0
            width: 100%
            height: 96rem

// Medium devices (1366px and down)
@media (max-width: 1366px)
    .image
        height: 56rem
        