@import "vars"
@import "fonts"
    
* 
    box-sizing: border-box

*::selection
    background: $lightGrayColor

html
    font-size: 10px

body 
    margin: 0 auto
    overflow-x: hidden

    &::-webkit-scrollbar 
        width: 1rem
        background-color: #fff
        border-radius: 0.5rem

    &::-webkit-scrollbar-track 
        background-color: #fff

    &::-webkit-scrollbar-thumb 
        background-color: #afafaf
        border-radius: 1rem

a
    &:hover
        text-decoration: none
        color: $blackColor

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto  
    padding: 0

.pl
    padding: 0 0 0 17.5rem

.pr
    padding: 0 17.5rem 0 0 


.wrap    
    background-color: white
    width: calc(100% - 22rem)
    margin: 0 auto
    height: 100vh    

.header
    background-color: $whiteColor
    padding: 60px 0 0 0
    width: 100%

.main
    background-color: $whiteColor


.action
    transform: translateY(100%)
    transition: 10s

.sun
    transition: 10s

.hover
    text-decoration: none
    color: $blackColor
    font-size: 2.4rem
    transition: all 0.5s ease-in-out
    position: relative

    &::before
        content: attr(data-item)
        transition: 0.5s
        color: $mainColor1
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 0
        overflow: hidden        

    &:hover
        
        &::before
            width: 100%
            transition: all 0.5s ease-in-out

@import "menu"
@import "first-section"
@import "scene-one"
@import "links"
@import "section"
@import "block"
@import "mini-section"
@import "right-block"
@import "scene-two"
@import "block-tags"
@import "form"
@import "future"
@import "footer"
